.DS_Store
monthly_bioclim
GWAS_n122_allages_angsdvcf_impute4.1_lumdorsum_lmm.assoc.txt
GWAS_n122_allages_angsdvcf_impute4.1_lumdorsum_lmm_subset.assoc.txt
GWAS_n122_allages_angsdvcf_impute4.1_test.assoc.txt
GWAS_n122_allages_vcf_impute4.1_lumdorsum_lmm.assoc.txt
GWAS_n122_allages_vcf_impute4.1_lumdorsum_lmm_subset.assoc.txt
GWAS_n75_ASY_angsdvcf_impute4.1_lumdorsum_lmm.assoc.txt
GWAS_n75_ASY_impute4.1_lumdorsum_lmm_subset.assoc.txt
prelim_GWAS
Image Analysis Results Samsung NX1000 Nikkor EL 80mm D65 to Bluetit D65_restarting_from_614284_dorsal.mspec.csv
